$icon-path: '../Icons/';
$primary: #93afd3;
$secondary: #a813ff;
$background-color: #5f8dba;
$text-dark: #333;
$btn-primary:#4D9DE0;
$btn-secondary: #952b95;
$btn-danger: #5f8dba;
$btn-warning: #952b95;